.main-header {
    width: 100%;

    .top-header {
        display: flex;
        background-color: #335c91;

        .logo-wrp {
            flex: 0 0 40%;
            overflow: hidden;
        }

        .left-side {
            flex: 1 0;
            padding-left: 2rem;
            padding-top: 1rem;

            .action-wrp {
                float: left;
                background-color: #295287;
                padding: 4px 0;

                ul {
                    list-style: none;
                    margin-bottom: 0px;
                    padding: 0;

                    li {
                        display: inline-block;
                        padding: 0 1rem;
                        line-height: 1;

                        &:not(:last-child) {
                            border-left: 1px solid #ffffff;
                        }
                    }

                    li a {
                        font-size: .75rem;
                        color: #ffffff;
                        text-decoration: unset;
                    }
                }
            }

            .additional-wrp {
                float: left;
                margin-top: 1rem;
                .current-time {
                    display: inline-block;
                    background-color: #355e93;
                    border: 1px solid #43699a;
                    padding: 8px .7rem;
                    color: #a4c5ee;
                    font-size: .75rem;
                }

                .profile {
                    display: inline-block;
                    color: #a4c5ee;
                    margin-left: 1rem;
                    a{
                        text-decoration: unset;
                        color: #ffffff;
                    }
                }
            }
        }
    }
}

