// Body
$body-bg: #ffffff;

// Typography
$font-family-sans-serif: 'Tahoma', sans-serif;
$font-size-base: 0.75rem;
$line-height-base: 1.6;

//container
$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 90%,
    xxl: 80%
);
