body{
    background: url("../media/img/background1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.auth-box{
    width: 375px;
    border-color: #6c8dce;
}

.auth-box .card-header{
    background-color: #003c9c;
}

.auth-box .card-body{
    background-color: #0b60b4;
    opacity: .8;
}
